.forgotPass{
    width: 100vw;
    height: 100vh;
    display: flex;
    top: 0;
    left:0;
    position: fixed;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    background-color: aliceblue;
}

.forgotPass>h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
}